/* styles.css */
/*color choices from https://github.com/dracula/dracula-theme*/

body {
    background-color: #282a36;
    color: #f8f8f2;
    
}

a {
    color: #8be9fd;
}
.lead-image {
    max-width: 100%;
    height: auto;
}

.lead-header {
        color: #ff5555;
        
    }

.recipe {
        background-color: #44475a;
    }


.recipe .recipe-description {
    background-color: aquamarine; /*color crimes to make things obvious*/
}
    
.recipe-description .recipe-description-header {
    color: #ffb86c;
}

.recipe .recipe-ingredients {
    background-color: tomato;
}

.recipe-ingredients .recipe-ingredients-header {
    color: #50fa7b;
}

.recipe .recipe-instructions {
    background-color: blue;
}

.recipe-instructions .recipe-instructions-header {
    color: #ff79c6;
}

/* Comment out styles setup prior to learning CSS Cascade
* {
    background-color: #282a36;
    
}

h1, h2, h3, h4, h5, h6 {
    color: #ff79c6;
}

p {
    color: #f8f8f2;
}

a {
    color: #bd93f9;
}

ol {
    color: #f8f8f2
}

ul {
    color: #f8f8f2
}
*/